.c-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    width: 100%;

    @include mq($md) {
        padding: 40px 50px;
    }

    @include mq($lg) {
        padding: 50px 65px;
    }

    @include mq($xl) {
        padding: 63px 90px;
    }
}

.c-contact-form__input {
    padding-bottom: 13px;
    position: relative;

    .invalid {
        border: 1px solid palette(color-red);
    }

    input {
        background-color: transparent;
        border: 1px solid palette(color-white);
        padding: 13px 20px;
        color: palette(color-white);
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        width: 100%;

        &::placeholder {
            color: palette(color-white);
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
        }
    }

    .error {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        color: palette(color-red);
    }
    
}

.c-contact-form__wrap {
    max-width: 290px;
    width: 100%;
}

.c-contact-form__submit {
    margin-top: 7px;
    input {
        border: none;
    }
}